* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font: 13px Helvetica, Arial;
}

.container {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  outline: solid black 1px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}




form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

form input {
  outline: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  width: 100%;
  height: 9.7%;
  
  border: none;
}

form button {
  position: fixed;
  float: right;
  bottom: 0;
  right: 0%;
  width: 9%;
  height: 9.8%;
  outline: none;
  background: #0084ff;
  border: none; 
  color: #ffff;
}

#users {
  position: relative;
  float: left;
  width: 10%;
  margin-left: 0.5%;
}

#users li a {
  text-decoration: none;
}

#users li::after {
  content: " •";
  font-weight: bold;
  color: #00FF00;
}

#selected::after {
  content: none !important;
}

#messages {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#messages li {
  width: 100%;
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}

.other {
  max-width: 60%;
  background: #eee;
  float: left;
}

.own {
  max-width: 60%;
  float: right;
  background: #0084ff;
  color: #fff;
}

.other + .own,
.own {
  border-bottom-right-radius: 5px !important;
}

.own + .other,
.other {
  border-bottom-left-radius: 5px !important;
}

.own + .own {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.own :last-of-type {
  border-bottom-right-radius: 30px !important;
}
